<!DOCTYPE html>
<html>
  <head>
    <title>SpotifyWorld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src='https://www.google.com/jsapi'></script>
  </head>

  <body>

    <!-- <script src="https://sdk.scdn.co/spotify-player.js"></script> -->

    <%= yield %>

  </body>
</html>
